* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bigbox {
    height: 100vh;
    width: 100%;
    display: flex;
}

.sideNav {
    height: 100%;
    border-right: 2px solid rgb(245, 227, 210);
    padding-left: 12px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.sideNav h2 {
    margin-top: 24px;
}

.sideNav p {
    height: 30px;
    width: 30px;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sideNav i {
    color: white;
}

.bigParent {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.bigParent h1 {
    margin-top: 20px;
}

.notebox {
    max-width: 400px;
    padding: 15px;
    border-radius: 10px;
    margin-left: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.notebox p {
    display: inline-block;
    border: none;
    outline: none;
    cursor: text;
}

.notebox button {
    height: 20px;
    width: 80px;
    border-radius: 5px;
    border: none;

}

.notebox>.time-date {
    display: flex;
    justify-content: space-between;
    max-height: 25px;
}

.date {
    font-weight: 600;
}

#remove {
    cursor: pointer;
}

@media (max-width: 600px) {
   .bigbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sideNav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        width: 96%;
        padding: 0px 0px 10px 0px;
        height: 50px;
        
    }
    .sideNav p{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 24px;
    }
    .bigParent{
        display: flex;
        align-items: center ;
        width: 100%;
        padding-left: 0px;
        margin-top: 0px;
    }
    .bigParent h1{
        margin-top: 0px;
    }
    .notebox{
        margin-left: 0px;
    }

}
